@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}

<form class="pt-10" asp-action="Index" method="post">
    <div class="max-w-xl mx-auto sm:px-6 lg:px-8">
        <label for="price" class="block text-xl font-light text-gray-900">Cost of meal</label>
        <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="text-gray-500 sm:text-sm"> $ </span>
            </div>
            <input type="text" name="price" id="price"
                class="focus:ring-cyan-600 focus:border-cyan-600 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
                placeholder="0.00" aria-describedby="price-currency">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <span class="text-gray-500 sm:text-sm" id="price-currency"> USD </span>
            </div>
        </div>
        <dl class="text-sm font-medium text-gray-500 mt-4 space-y-6">
            <div class="flex justify-between">
                <label >15% Tip</label>
                <input readonly class="text-gray-900"/>
            </div>
            <div class="flex justify-between">
                <label class="flex">
                    20% Tip
                </label>
                <input class="text-gray-900"/>
            </div>
            <div class="flex justify-between">
                <label>25% Tip</label>
                <input class="text-gray-900"/>
            </div>

        </dl>
        <div class="flex items-center py-4 justify-center">
            <span class="relative z-0 inline-flex shadow-sm rounded-md">
                <button type="button"
                    class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-cyan-600 focus:border-cyan-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-5 w-5 text-green-600"
                        viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd" />
                    </svg>
                    Calculate
                </button>
                <button type="button"
                    class="-ml-px relative inline-flex items-center px-3 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-cyan-600 focus:border-cyan-600"><svg
                        xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-red-600" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                            clip-rule="evenodd" />
                    </svg></button>
            </span>
        </div>

    </div>
</form>